<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best golf courses</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1 style="color:red">Courses to play in Northern California if you suck at golf</h1>
    <h4 style="color:blue">Pebble Beach Golf Links</h4>
    <img src="https://mail.google.com/mail/u/0/
    https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1&permmsgid=msg-f:1641326952594555822&th=16c72a2ad1ac43ae&view=att&disp=safe&saddbat=ANGjdJ9-JBZSpXszZw-HWKNztxqKr1TZ835Ab4kpAJ-DgFceBrV6UXoH2i7tVnZb_5nMcy822O7V2ubgHN7-cy1UEhHYLSkxnt0NuPlc1woZQyw7qzYbe0tPc158ZZ-gHCIj4L-Pa8KdqMPvThLFlmzhQxYUBK4nlSJdH_8iUVZMWyr6ooQyBjp1g1Q10RnyaRpSgkXwPl5AREden71KE8VucWM5JfLVAkKRpsYG427cS8nIrAhWNuKg8CQVZ3FmORXmzUx5j5rZXHN_FGoiMncEqGXzn651XrC7YiJv9Y6omiZBgfFqmrNm2P0SJ98n1Q35JvI7N_bCxOsfs6xswKyzY9nZ4te539T8DfOr-PK4vD1wfc7hfda_gyzyVtiPrj3i1AUNRa7ERuILqRXn69dV-XkOoCp8xMfLhhYH_AKgl78CkWM5HBUEQ-IW1NrGRzCG3Ek0VYUWCqREJ89oydykgyo7Wn4fOGmNPuhjiT3DwBymJ0z2StZPYIvV3PvcTt1sXBynWjRj1l4o78ET9gYpdaktl7tOElEm7hyGdBkFIwDE0tF1WX62wzF8-BR5ZHIKrlMg5rqozbB7Wx7R7Avf7CA0M9L8bwgCNirUeHdJPLVh83G1ulXOslWfijkk-kip8Xu2azzFYwV7iCNuuoBEeinGrzxcOhNwXasObg" alt="golf" width="150" height="100" align="left">
    <p>I can hear you now ... Pebble Beach!!!! Really??? Yes! No one is expecting you to set a course record. Just the experience alone is worth it. Plop your name on a waiting list and be willing to pay a hefty price. Pebble Beach is arguably the best course on the planet; it's also a beast. You'll be greeted with thick rough, narrow fairways, and wind off the ocean. If you don't keep it on the fairway, and you won't, just ease it back on the fairway and stay calm. Who cares? It's Pebble Beach ... you made it to golf's mecca!</p>
    <a href="https://www.pebblebeach.com/golf/pebble-beach-golf-links/" target="_blank">More info on Pebble Beach</a> 
    <br>
    <br>
    <h4 style="color:blue">The Olympic Club</h4>
    <img src="https://images.squarespace-cdn.com/content/v1/54a65094e4b0631d0c489ac8/1548723240697-MGTKSQQFMO08Y3XR8YIL/PJK_5909.jpg?format=1000w" alt="golf" width="150" height="100" align="left">
    <p>This is a classic in the center of San Francisco. Check for availability during COVID. There are actually three courses -- Lake, Ocean, and Cliffs (9-hole). Olympic Club has hosted many major tournaments. The courses are not long compared to other major courses, but don't let that fool you. Lots of trees to hit and deep bunkers to land in. Take extra time to study the layout. In other words, don't be a hero if (actually, when) you get in trouble! If you're able to make it on this couse, you will cherish each and every moment. </p>
    <a href="https://www.olyclub.com/" target="_blank">More info on The Olympic Club</a> 
    <br>
    <br>
    <h4 style="color:blue">TPC Harding Park</h4>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/TPC_Harding_Park_Aerial_Shot.png" alt="golf" width="150" height="100" align="left">
    <p>If you land here, get ready for quite an experience. It was the host of the PGA Championship in 2020 and the best golfers in the world had a difficult time getting through much less rank amateurs like you and me despite it's short length. Again, low expectations are a must. Bring a conservative game plan with you no matter where you are on the course. But it's also a fun course that has many shot selections to choose from. Afterward, get some killer grub at the course's restaurant. Make a day of it and bring home some great memories.</p>
    <a href="https://tpc.com/hardingpark/" target="_blank">More info on TPC Harding Park</a> 
    <br>
    <br>
    <h4 style="color:blue">Silverado Resort</h4>
    <img src="https://pga-tour-res.cloudinary.com/image/upload/c_fill,f_auto,h_403,q_auto,w_767/v1/pgatour/courses/r464/552/holes/hole16.jpg" alt="golf" width="150" height="100" align="left">
    <p>So let's get out of the San Francisco/Monterey scene for a moment and head for the Napa Valley to take on Silverado. This course survived terrible fires in the area and the championship course is now a regular stop on the PGA Tour. If you're able to get on, the distance isn't going to knock you over as much as dozens of water crossings and dramatic elevation changes brought to you by PGA Hall of Famer Johnny Miller who redesigned the courses. Maybe playing old golf balls could be in order if you know what I mean (lost balls). </p>
    <a href="https://www.silveradoresort.com/napa-valley-golf" target="_blank">More info on Silverado Resort</a>
    <br>
    <br>
    <h4 style="color:blue">Spyglass Hill Golf Course</h4>
    <img src="https://images.pexels.com/photos/164250/pexels-photo-164250.jpeg?cs=srgb&dl=pexels-pixabay-164250.jpg&fm=jpg" alt="golf" width="150" height="100" align="left">
    <p>OK, we're baaaack in Monterey for this gem. There is a lot of history here. Spyglass Hill is dubbed the greatest meeting of sand and trees, which kind of shows you what this course is about. The first five holes with fantasic ocean views as the backdrop are nothing like the rest of the round where you get to navigate through the Del Monte Forest. Now I don't know about you, but my ball seems to attract trees and the narrow fairways are no help. So don't get frustrated. Just take in the atmophere and you'll have a great time.</p>
    <a href="https://www.pebblebeach.com/golf/spyglass-hill-golf-course/" target="_blank">More info on Spyglass Hill Golf Course</a>
    <br>
    <br>
    <h4 style="color:blue">Tilden Park Golf Course</h4>
    <img src="https://images.unsplash.com/photo-1592272863556-721584c13427?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=magaly-vasquez-montano-Faw0hyME9Ho-unsplash.jpg" alt="golf" width="150" height="100" align="left">
    <p>Here is another course with stunning views. Tilden Park is located in the Berkeley Hills and delivers a fantastic look over the San Francisco skyline and a cool forest-like setting. Tilden Park can be terribly brutal and patience is needed. The first hole is the signature hole! A par-4 with a steady incline that takes everything out of you. From there, you get a collection of challenging par-4s they are no joke. The weather can be tricky. You get sun, clouds, hot, cold, fog ... you name it. Try walking the course and see how you feel at the end.</p>
    <a href="https://www.tildenparkgc.com/" target="_blank">More info on Tilden Park Golf Course</a>
    <br>
    <br>
    <h4 style="color:blue">Chardonnay Golf Club</h4>
    <img src="https://images.pexels.com/photos/1325749/pexels-photo-1325749.jpeg?cs=srgb&dl=pexels-jopwell-1325749.jpg&fm=jpg" alt="golf" width="150" height="100" align="left">
    <p>So let's head back to the Napa Valley where we find a very challenging course nestled within a vineyard that gives players a true feeling of golf played in the Wine Country. What's cool about this semi-private facility is it caters to all skills level. (People like me like to hear that). On the course, the fairways are narrow and the water hazards are challenging so break out the bad balls just in case. However, this is a great setup for the price. And who knows? You might do something amazing out there. </p>
    <a href="http://www.chardonnaygolfclub.com/" target="_blank">More info on Chardonnay Golf Club</a> 
    <br>
    <br>
    <h4 style="color:blue">Paradise Valley Golf Course</h4>
    <img src="https://mail.google.com/mail/u/0/?pli=1
    https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1&permmsgid=msg-f:1705035931424959109&th=17a981255ddcaa85&view=att&disp=safe&saddbat=ANGjdJ_WjFOgk2jHtaJGQLlQYBeMRT3Xx1wt-28jockrFio9TA_4u_T0nUY3qF6U_GnHLF2pS49TBOMpNbwHzYHiDtzDbNR3exlXPGGXTixp9Fi85d3AVCQr2sQxa3ARxGFv3Mlf4DZ7ELfDmSJEkfWUkfSNLP-skr8oxVxZnVq_hYRh3aS7u_4yNXVoHo5SlUcVdrAXFISTg64xuCC6iExNu4yH_NokEN_BLYEz-oErgIXbac_xwvla2xxvJXhcoYAI49zzFcS9DoyolkNGO1CaHmGUq9a8VtkwfutPweNjCUeiLhefBttL9gW0-At1FXUzNQLSTLIXgFXJPxGOSTHLqQamchGQjNW3j8TXaAqgkMlllroSdrGVKAmwmvFQJVHVI9Y112B30O8meK1zZeUG-IN6_ZpD7WHqKpMZMopJvkVcQ_D_53rb4WcCQgf9JJtYZ3ttWvIwgSV2fB8yM7THNxCKABTsBFRKVZ_baiWwh8x57QhKxpUPbrY6cpmiczxr-BhSQvQZDjDx4kcHf4ccZrl6Ann6gpD59S1HcLB3RT8eb5rbT9mrZOpNz--VSrer2IneSI6rwVyT456SOM5zqi_7vMcUXWbWvXAOOdIUk4pjezkwWBuAaqwqkD2h7mkT3O6p072ARBzWNyEjNYIW5tEdY0I2XVoudY1uxZOevZGpDNlCgaOjz4BFjak" alt="golf" width="150" height="100" align="left">
    <p>This is a personal favorite of mine. Paradise Valley is located in Fairfield in Solano County. The course can be a little challenging, but there are some holes where you can score and do something really great. (Imagine that!) It gives you a variety; water can come into play, and there are some doglegs to deal with so play it cool. The par-3s have distance and water. Good luck especially with lots of wind to deal with. If nothing else, the wind gives you an excuse as to why you're ball just sailed behind a tree. </p>
    <a href="https://www.fairfieldgolf.com/" target="_blank">More info on Paradise Valley Golf Course</a> 
    <br>
    <br>
    <h4 style="color:blue">Franklin Canyon Golf Course</h4>
    <img src="https://images.pexels.com/photos/1325726/pexels-photo-1325726.jpeg?cs=srgb&dl=pexels-jopwell-1325726.jpg&fm=jpg" alt="golf" width="150" height="100" align="left">
    <p>Located in Hercules in the East Bay, with Interstate 80 intersecting with Highway 4, this course entices many golfers to leave work early. On a good number of holes, hazards come into play, which is bad news for bad golfers like us. This course will definitely punish you with an errant shot so take it easy out there. The par-5 No. 12 with a steady 519-yard incline is nasty. You're just happy to finish the hole once you get off the green. This course is a mixed bag of doglegs and water, but if you don't get frustrated, these are fun challenges. </p>
    <a href="https://www.franklincanyongolf.com/" target="_blank">More info on Franklin Canyon Golf Course</a> 
    <br>
    <br>
    <h4 style="color:blue">San Ramon Golf Club</h4>
    <img src="https://images.pexels.com/photos/265755/pexels-photo-265755.jpeg?cs=srgb&dl=pexels-pixabay-265755.jpg&fm=jpg" alt="golf" width="150" height="100" align="left">
    <p>The East Bay course has strange holes right off the bat on No. 1 where you dogleg around the practice range, greeted by a hazard that protects the green. The course present some length with steady uphill and downhill play. If you're walking, it can be challenging coming down the stretch. One of the more fun holes is No. 9. It's an island hole where your tee shot will dictate if you're going for the island in 2 or layup. The conditions are usually solid and you feel good about yourself when you make a good shot.</p>
    <a href="https://golfsanramon.com/" target="_blank">More info on San Ramon Golf Club</a>
    <br>
    <br>
    <a href="/wall"><button class="btn btn-primary">Write a comment</button>

        
       
</body>
</html>
